body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #fff;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

.logo {font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: Raleway,sans-serif;
    margin-right: 76px;

}

.logo-part {
    color: #2e2f42;
    

}

.nav-link {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;

}

.address {
    font-style: normal;
}

.address-link {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address-stile {
    display: flex;
    gap: 40px;
}

.hero {
    background: #2e2f42;
    padding: 188px 0;
}
.hero-title {
    color: #fff;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
}
.hero-btn {
    background: #4d5ae5;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    height: 56px;
    min-width: 169px;
    }

.hero-btn:hover,
.hero-btn:focus {
background-color: #404BBF
}

.prioriti {
    padding: 120px 0;
}

.our-prioriti-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.prioriti-list {
    display: flex;
    gap: 24px;
}


.our-prioriti-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

.our-team {
background-color: #F4F4FD;
}

.our-team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.our-team-imagenes {
    background-color: #FFFFFF;
    display: block;
}

.our-team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.prof {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-portfolio {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.our-portfolio-title {
    font-weight: 500;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.our-desiding {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-desiding-sector {
    line-height: 1.5;
    color: #434455;
}

.footer-stiles {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.logo-footer-part {
    color:#f4f4fd;
}

 .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
 }

 .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
 }

 .images {
    display: block;

 }

 .header-stile {
    border-bottom: 1px solid #e7e9fc;
 }

 .nav-stile {
    display: flex;
    align-items: center;
 }

 .menu {
    display: flex;
    gap: 40px;
 }